---
import { cleanValue } from "@front/lib/utils";
import type { NavbarItem } from "@front/types";
import Link from "@front/components/block/Link.astro";

const { navigation = [] } = Astro.props;

const navbarData: NavbarItem[] = navigation && navigation.length > 0 && navigation[0].navbar ? navigation[0].navbar : [];

const {
    logoPosition = "start",
    logoAlign = "end",
    linksPosition = "center",
    linksAlign = "start",
} = navigation && navigation.length > 0 ? navigation[0] : {};

const navCoords = {
    logoPosition: cleanValue(logoPosition),
    logoAlign: cleanValue(logoAlign),
    linksPosition: cleanValue(linksPosition),
    linksAlign: cleanValue(linksAlign),
}

const navLogo = navigation.length > 0 ? navigation[0].navLogo : null;
---

<style>

</style>

<nav class="site-header nav-grid" style="width: 100%;">
    <!-- logo -->
    <article
        class="logo"
        style={`
            --logo-grid-area: ${navCoords.logoPosition};
            --logo-justify-content: ${navCoords.logoAlign};
        `}
    >
        {navLogo && (
            <a href="/">
                <img
                    src={navLogo}
                    alt="Logo de la empresa"
                    width="150"
                    height="auto"
                    loading="lazy"
                />
            </a>
        )}
    </article>

    <!-- páginas -->
    <article
        class="site-header__inner links"
        style={`
            --links-grid-area: ${navCoords.linksPosition};
            --links-justify-content: ${navCoords.linksAlign};
        `}
    >
        <div class="links-container">
            {navbarData.map((item) => (
                <Link
                    class="clr-accent-100 no-underline"
                    link={{
                        linkType: "page",
                        pageSlug: item.link?.slug,
                    }}
                >
                    {item.link.name}
                </Link>
            ))}
        </div>
    </article>
</nav>